* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main{
  font-family: 'Press Start 2P', cursive;
  height: 700px;
  margin: 20px auto 0 auto;
  width: 700px;
}

img {
  height: 200px;
  margin: auto;
  padding-top: 20px;
  display: flex;
}

.top-half {
  background-color: #000051;
  color: #25e200;
  height: 350px;
  width: 700px;
}

.bottom-half {
  background-color: black;
  height: 350px;
  width: 700px;
}

.frogger-title {
  line-height: 1.6;
  color: #25e200;
  font-size: 42px;
  padding-top: 120px;
  text-align: center;
  text-shadow: 4px 4px red;
}

.press-start--konami {
  color: white;
  font-size: 22px;
  padding-top: 40px;
  text-align: center;
}

.bottom-half .press-start--konami {
  padding-top: 68px;
}